In [3]:
print('hello')

hello

In [4]:
import pandas as pd
import numpy as np

In [8]:
data =[1,2,3,4,5]
series =pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# import pandas and numpy


  # simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

  # providing an index
ser = pd.Series(data, index=[10, 11, 12, 13, 14])
print(ser)

10    g
11    e
12    e
13    k
14    s
dtype: object

In [14]:
lst =[1,2,3,4]
df =pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4

In [15]:
lst =[[1,2,3,4],[5,6,7,8],[90.55,66,23]]
df =pd.DataFrame(lst)
print(df)

       0   1   2    3
0   1.00   2   3  4.0
1   5.00   6   7  8.0
2  90.55  66  23  NaN

In [17]:
a =[{'a':1,'b':2,'c':3},{'d':4,'e':5,'f':6,'g':7}]

In [18]:
df=pd.DataFrame(a)
print(df)

     a    b    c    d    e    f    g
0  1.0  2.0  3.0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  4.0  5.0  6.0  7.0

In [19]:
b ={'roll':pd.Series([1,2,3,4]),
    'maths':pd.Series([88,99,79]),
    'physics':pd.Series([99,89,98])}

In [20]:
df =pd.DataFrame(b)
print(df)

   roll  maths  physics
0     1   88.0     99.0
1     2   99.0     89.0
2     3   79.0     98.0
3     4    NaN      NaN